<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Webapp</title>

    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl">Flask Webapp</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/dashboard" class="hover:underline">Home</a></li>
                <li><a href="/data" class="hover:underline">Data</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-4">

        <h1>Welcome {{ user.name }}</h1>
        <h2>User Details</h2>
        <div>
            <p>Name: {{ user.name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Profile Picture: <img src="{{ user.picture }}" alt="Profile Picture" style="width:50px;height:50px;"></p>
        </div>
        <div>
            <a href="/logout" class="logout-btn" style="text-decoration:none;">
                <div class="btn-text">
                    Logout
                </div>
            </a>
        </div>

    </main>

    <footer class="bg-blue-600 text-white p-4 mt-6">
        <p>© 2023 Stephen Healthcare App. All Rights Reserved.</p>
    </footer>
</body>

</html>
